@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@200&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body{
    font-family: 'Roboto Condensed';
    background-image: url('./white.jpg');
    background-size:cover ; 
    background-repeat: no-repeat;
}
.center-div{
    padding-top: 10%;
}

.container{
	background: rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}

.btn.btn-success{
    padding: .4em 2em;
}

form{
    padding: 0.3em;
}

#login.title.span{
    font-size: .8em;
}